@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,500;0,700;1,400&display=swap");

@font-face {
  font-family: "UntitledSerif-Regular";
  src: url("/fonts/UntiSans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-ExtraboldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-HeavyItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-RegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-SemiboldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-UltraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-UltraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

* {
  /* brand foundation */
  --brand-hue: 215;
  --brand-saturation: 70%;
  --brand-lightness: 40%;

  /* light */
  --brand-light: hsl(
    var(--brand-hue) var(--brand-saturation) var(--brand-lightness)
  );
  --text1-light: hsl(var(--brand-hue) var(--brand-saturation) 10%);
  --text2-light: hsl(var(--brand-hue) 30% 30%);
  --text3-light: hsl(var(--brand-hue) 30% 50%);

  --surface1-light: hsl(var(--brand-hue) 25% 90%);
  --surface2-light: hsl(var(--brand-hue) 20% 99%);
  --surface3-light: hsl(var(--brand-hue) 20% 100%);
  --surface4-light: hsl(var(--brand-hue) 20% 85%);
  --surface5-light: hsl(var(--brand-hue) 70% 97%);

  --surface-shadow-light: var(--brand-hue) 10% 20%;
  --shadow-strength-light: 0.02;
  --background-light: hsl(0% 0% 100%);

  /* dark */
  --brand-dark: hsl(
    var(--brand-hue) calc(var(--brand-saturation) / 1)
      calc(var(--brand-lightness) * 1.65)
  );
  --text1-dark: hsl(var(--brand-hue) 15% 85%);
  --text2-dark: hsl(var(--brand-hue) 5% 65%);
  --text3-dark: hsl(var(--brand-hue) 5% 45%);
  --surface1-dark: hsl(var(--brand-hue) 10% 10%);
  --surface2-dark: hsl(var(--brand-hue) 10% 15%);
  --surface3-dark: hsl(var(--brand-hue) 5% 20%);
  --surface4-dark: hsl(var(--brand-hue) 5% 25%);
  --surface5-dark: hsl(var(--brand-hue) 5% 25%);
  --surface-shadow-dark: var(--brand-hue) 50% 3%;
  --shadow-strength-dark: 0.8;
  --background-dark: hsl(var(--brand-hue) 10% 10%);

  /* dim */
  --brand-dim: hsl(
    var(--brand-hue) calc(var(--brand-saturation) / 1.25)
      calc(var(--brand-lightness) / 1.25)
  );
  --text1-dim: hsl(var(--brand-hue) 15% 75%);
  --text2-dim: hsl(var(--brand-hue) 10% 61%);
  --surface1-dim: hsl(var(--brand-hue) 10% 20%);
  --surface2-dim: hsl(var(--brand-hue) 10% 25%);
  --surface3-dim: hsl(var(--brand-hue) 5% 30%);
  --surface4-dim: hsl(var(--brand-hue) 5% 35%);
  --surface-shadow-dim: var(--brand-hue) 30% 13%;
  --shadow-strength-dim: 0.2;
}

:root {
  color-scheme: light;

  /* set defaults */
  --brand: var(--brand-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --text3: var(--text3-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);
  --surface5: var(--surface5-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
  --background: var(--background-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --brand: var(--brand-dark);
    --text1: var(--text1-dark);
    --text2: var(--text2-dark);
    --text3: var(--text3-dark);
    --surface1: var(--surface1-dark);
    --surface2: var(--surface2-dark);
    --surface3: var(--surface3-dark);
    --surface4: var(--surface4-dark);
    --surface5: var(--surface5-dark);
    --surface-shadow: var(--surface-shadow-dark);
    --shadow-strength: var(--shadow-strength-dark);
    --background: var(--background-dark);
  }
}

[color-scheme="light"] {
  color-scheme: light;

  --brand: var(--brand-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --text3: var(--text3-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);
  --surface5: var(--surface5-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
  --background: var(--background-light);
}

[color-scheme="dark"] {
  color-scheme: dark;

  --brand: var(--brand-dark);
  --text1: var(--text1-dark);
  --text2: var(--text2-dark);
  --text3: var(--text3-dark);
  --surface1: var(--surface1-dark);
  --surface2: var(--surface2-dark);
  --surface3: var(--surface3-dark);
  --surface4: var(--surface4-dark);
  --surface5: var(--surface5-dark);
  --surface-shadow: var(--surface-shadow-dark);
  --shadow-strength: var(--shadow-strength-dark);
  --background: var(--background-dark);
}

[color-scheme="dim"] {
  color-scheme: dark;

  --brand: var(--brand-dim);
  --text1: var(--text1-dim);
  --text2: var(--text2-dim);
  --surface1: var(--surface1-dim);
  --surface2: var(--surface2-dim);
  --surface3: var(--surface3-dim);
  --surface4: var(--surface4-dim);
  --surface-shadow: var(--surface-shadow-dim);
  --shadow-strength: var(--shadow-strength-dim);
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
  background-color: var(--background);
  color: var(--text1);
  font-family: "Gilroy", sans-serif;
}

body {
  height: 100%;
  margin: 0;
  color: var(--text2);
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  letter-spacing: 0.02em;
  cursor: text;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

.app-home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  padding-top: 64px;
}

.hero-h1 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 500;
  color: var(--text1);
  font-size: 46px;
  line-height: 1.1em;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.01em;
}

.hero-button-row {
  padding-bottom: 24px;
}

#hero-section {
  background-color: #282c34;
  color: white;
  padding: 50px;
  text-align: center;
  border-radius: 10px;
}

#hero-title {
  font-size: 48px;
  font-weight: bold;
}

#hero-subtitle {
  font-size: 24px;
  margin-top: 20px;
}

.button.home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-shadow: 1px 1px 1px 0 #25a4fd;
  color: #25a4fd;
  font-size: 16px;
}

.button.home:hover {
  color: #fff;
}

.beta_txt_home {
  margin-bottom: 20px;
  color: var(--text2);
  font-size: 1.1em;
  line-height: 1.4;
  font-weight: 400;
  text-align: left;
  margin-right: 30px;
}

.home-text {
  color: var(--text2);
  font-size: 19px;
  line-height: 1.8em;
}

.big-btn {
  color: var(--brand);
  border-radius: 5px;
  border: 1px solid var(--surface4);
  background-color: var(--surface3);
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  font-weight: 600;
  padding: 13px 20px 12px 20px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.big-btn:hover {
  background-color: var(--surface5);
  border: 1px solid var(--surface4);
  cursor: pointer;
}

.big-imp {
  color: var(--text1);
  border-radius: 5px;
  border: 1px solid var(--surface4);
  background-color: var(--surface3);
  font-size: 16px;
  line-height: 14px;
  text-decoration: none;
  font-weight: 400;
  padding: 10px 16px 10px 16px;
  min-width: 320px;
  margin-right: 8px;
  margin-bottom: 12px;
}

.big-imp:hover {
  background-color: var(--surface5);
  border: 1px solid var(--surface4);
}

.button-separate {
  width: 15px;
}

.app-home-description {
  max-width: 600px;
  margin-bottom: 40px;
  color: var(--text2);
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
}

.app-home-beta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.app-home-conteiner {
  align-items: baseline;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.app-logo-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  float: left;
  text-decoration: none;
  color: var(--text2);
  margin-bottom: 32px;
}

.app-logo-img {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 32px;
}

.copyright {
  margin-top: 40px;
  color: var(--text3);
}

.beta-wraper {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.auth-header {
  position: sticky;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 20;
  display: block;
  height: 60px;
}

.beta-form {
  display: flex;
  min-width: 100%;
  min-height: 90vh;
  border: 0;
}

.footer-link {
  color: var(--text3);
  text-decoration: none;
}

.footer-link:hover {
  color: var(--text2);
  text-decoration-line: underline;
  text-underline-offset: 3px;
  text-decoration-color: var(--surface4);
}

.site-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-logo-text {
  color: var(--text2);
  font-size: 25px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0.6px;
  margin-top: 2px;
}

.domain {
  color: var(--text3);
}

.form {
  display: block;
}

.alert {
  background-color: var(--surface2);
  color: var(--text1);
  padding: 12px 20px 12px 20px;
  border-radius: 4px;
  font-size: large;
  display: none;
  margin-bottom: 30px;
}

@media screen and (max-width: 479px) {
  .app-home {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    padding-top: 0px;
  }

  .hero-h1 {
    margin-top: 10px;
    margin-bottom: 15px;
    color: var(--text1);
    font-size: 46px;
    line-height: 1.1em;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.01em;
  }

  .app-home-description {
    max-width: 600px;
    margin-bottom: 30px;
    color: var(--text2);
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
  }

  .copyright {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .big-btn {
    color: var(--brand);
    border-radius: 5px;
    border: 1px solid var(--surface4);
    background-color: var(--surface3);
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    font-weight: 600;
    padding: 13px 20px 12px 20px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  .big-btn:hover {
    background-color: var(--surface5);
    border: 1px solid var(--surface4);
    cursor: pointer;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
